* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: #000000;
}

#heading,
#heading0 {
    color: #ffffff;
}

.card {
    background-color: #E8EAF6;
    padding-top: 0px;
    cursor: pointer;
}

.card-name:hover {
    color: #424242;
}

#card1 {
    border-top: 4px solid #3D5AFE !important;
    transition: 0.5s;
}

#card1:hover {
    box-shadow: 0 0 2px 2px #3D5AFE;
    transition: 0.5s;
}

#card2 {
    border-top: 4px solid #00E676 !important;
    transition: 0.5s;
}

#card2:hover {
    box-shadow: 0 0 2px 2px #00E676;
    transition: 0.5s;
}

#card3 {
    border-top: 4px solid #AB47BC !important;
    transition: 0.5s;
}

#card3:hover {
    box-shadow: 0 0 2px 2px #AB47BC;
    transition: 0.5s;
}

#card4 {
    border-top: 4px solid #FBC02D !important;
    transition: 0.5s;
}

#card4:hover {
    box-shadow: 0 0 2px 2px #FBC02D;
    transition: 0.5s;
}

.hex-icon {
    background-color: black;
    width: 30%;
}

.fa {
    color: white;
    background-color: black;
    width: 40px;
    transition: 0.2s;
}

.fa:hover {
    opacity: 1;
    transition: 0.2s;
}

.fa-facebook {
    background-color: #4267B2;
    opacity: 0.8;
}

.fa-twitter {
    background-color: #1DA1F2;
    opacity: 0.8;
}

.fa-linkedin {
    background-color: #0077B5;
    opacity: 0.8;
}

.fa-pinterest {
    background-color: #E60023;
    opacity: 0.8;
}

svg {
    height: 200px;
    width: 240px;
}